In [21]:
import pandas as pd
import datetime as dt

teamsnaps = pd.read_csv('teamsnaps.csv')
O_snaps_2017 = pd.read_csv('FantasyPros_Fantasy_Football_2017_Offense_Snap_Counts.csv')
D_snaps_2017 = pd.read_csv('FantasyPros_Fantasy_Football_2017_Defense_Snap_Counts.csv')
O_snaps_2018 = pd.read_csv('FantasyPros_Fantasy_Football_2018_Offense_Snap_Counts.csv')
D_snaps_2018 = pd.read_csv('FantasyPros_Fantasy_Football_2018_Defense_Snap_Counts.csv')
O_snaps_2019 = pd.read_csv('FantasyPros_Fantasy_Football_2019_Offense_Snap_Counts.csv')
D_snaps_2019 = pd.read_csv('FantasyPros_Fantasy_Football_2019_Defense_Snap_Counts.csv')

In [26]:
Start_Year = 2017
End_Year = 2019
dfname = []
for num in range(Start_Year,End_Year+1):
    year = Start_Year
    dfname.append(f'{num}_Offense')
    dfname.append(f'{num}_Defense')
    data = {key: pd.read_csv(f'FantasyPros_Fantasy_Football_{key}_Snap_Counts.csv') for key in dfname}
    
while year < End_Year:
    for key in data:
        data[key].insert(loc=3,column='Year',value=year,allow_duplicates=True)
        year += 0.5
        data[key]['Year'] = data[key]['Year'].astype(int)
        
for key in data:
    data[key].drop(['TTL','AVG'],axis=1,inplace=True)
    data[key] = pd.melt(data[key],id_vars=['Player','Pos','Team','Year'],\
              value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
    data[key].rename(columns={'variable':'Week','value':'Snaps'},inplace=True)
    data[key].replace({'Team':\
              {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':\
               'SFO','TB':'TAM','Multi':None,'LV':'OAK',},'Snaps':{'bye':None}},inplace=True)
    data[key].dropna(thresh=3,inplace=True)

player_snaps = pd.concat(data.values(), ignore_index=True)
print(player_snaps)
player_snaps.to_csv(f'player_snaps_{Start_Year}_{End_Year}')

                 Player Pos  Team  Year Week Snaps
0             Tom Brady  QB   NWE  2017    1    81
1         Blake Bortles  QB   JAX  2017    1    64
2      Larry Fitzgerald  WR   ARI  2017    1    74
3        Russell Wilson  QB   SEA  2017    1    49
4         Brandin Cooks  WR   NWE  2017    1    67
...                 ...  ..   ...   ...  ...   ...
77226    Hunter Bradley  LB   GNB  2019   17     0
77227     Devante Downs  LB  None  2019   17     0
77228        Jack Cichy  LB   TAM  2019   17     0
77229    Robert Jackson  DB   CLE  2019   17     0
77230   Robert Spillane  LB   PIT  2019   17     0

[77231 rows x 6 columns] player_snaps_2017_2019

In [ ]:
def player_snap_clean(Start_Year,End_Year):
    dfname = []
    try:
        for num in range(Start_Year,End_Year+1):
            year = Start_Year
            dfname.append(f'{num}_Offense')
            dfname.append(f'{num}_Defense')
            data = {key: pd.read_csv(f'FantasyPros_Fantasy_Football_{key}_Snap_Counts.csv') for key in dfname}

        while year < End_Year:
            for key in data:
                data[key].insert(loc=3,column='Year',value=year,allow_duplicates=True)
                year += 0.5
                data[key]['Year'] = data[key]['Year'].astype(int)

        for key in data:
            data[key].drop(['TTL','AVG'],axis=1,inplace=True)
            data[key] = pd.melt(data[key],id_vars=['Player','Pos','Team','Year'],\
                      value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
            data[key].rename(columns={'variable':'Week','value':'Snaps'},inplace=True)
            data[key].replace({'Team':\
                      {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':\
                       'SFO','TB':'TAM','Multi':None,'LV':'OAK',},'Snaps':{'bye':None}},inplace=True)
            data[key].dropna(thresh=3,inplace=True)

        player_snaps = pd.concat(data.values(), ignore_index=True)
        print(player_snaps)
        player_snaps.to_csv(f'player_snaps_{Start_Year}_{End_Year}')
    
    except:
        print('Please make sure the labels are "Starting Year" and "Ending Year" in that order and they are not \nout of range of what is in the data. If you are still receiving and error, please consult the code or \nmake sure the columns are identical. All data must be pulled from FantasyPros.')

In [ ]:
player_snaps.to_csv('player_snaps.csv',index=False)

In [ ]:
teamsnaps = teamsnaps.drop(['Local_Time','Tot_Yds/Play'])

In [ ]:
teamsnaps['Tot_Game_Time'] = pd.to_timedelta(teamsnaps['Tot_Game_Time']+':00')
teamsnaps['Date'] = pd.to_datetime(teamsnaps['Date'])
teamsnaps = df_teamsnaps.rename(columns={'Away':'Away_Home'})
teamsnaps['Away_Home'] = teamsnaps['Away_Home'].fillna(value='Home')
teamsnaps['Away_Home'] = teamsnaps['Away_Home'].replace('@','Away')
teamsnaps['Away_Home'] = teamsnaps['Away_Home'].replace('nan','Home')

In [ ]:
df_bridge = teamsnaps['Tot_ToP'].str.split(":",expand=True,)
teamsnaps['Month'] = teamsnaps['Date'].dt.month
teamsnaps['Year'] = teamsnaps['Date'].dt.year

In [ ]:
teamsnaps['Min_Tot_ToP'] = df_bridge[0].astype(int)
teamsnaps['Sec_Tot_ToP'] = df_bridge[1].astype(int)

In [ ]:
teamsnaps['Tot_ToP'] = (teamsnaps['Min_Tot_ToP']*60)+teamsnaps['Sec_Tot_ToP']