In [22]:
import pandas as pd
import datetime as dt

teamsnaps = pd.read_csv('teamsnaps.csv')
O_snaps_2017 = pd.read_csv('FantasyPros_Fantasy_Football_2017_Offense_Snap_Counts.csv')
D_snaps_2017 = pd.read_csv('FantasyPros_Fantasy_Football_2017_Defense_Snap_Counts.csv')
O_snaps_2018 = pd.read_csv('FantasyPros_Fantasy_Football_2018_Offense_Snap_Counts.csv')
D_snaps_2018 = pd.read_csv('FantasyPros_Fantasy_Football_2018_Defense_Snap_Counts.csv')
O_snaps_2019 = pd.read_csv('FantasyPros_Fantasy_Football_2019_Offense_Snap_Counts.csv')
D_snaps_2019 = pd.read_csv('FantasyPros_Fantasy_Football_2019_Defense_Snap_Counts.csv')

In [32]:
Start_Year = 2017
End_Year = 2019
dfname = []
year = []
for num in range(Start_Year,End_Year+1):
    year.append(num)
    dfname.append(f'{num}_Offense')
    dfname.append(f'{num}_Defense')
    data = {name: pd.read_csv(f'FantasyPros_Fantasy_Football_{name}_Snap_Counts.csv') for name in dfname}
for key in data:
    data[key].drop(['TTL','AVG'],axis=1,inplace=True)
    data[key] = pd.melt(data[key],id_vars=['Player','Pos','Team'],\
              value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
    data[key].rename(columns={'variable':'Week','value':'Snaps'},inplace=True)
    data[key].insert(loc=3,column='Year',value=year[yr],allow_duplicates=True)
    data[key].replace({'Team':\
              {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':\
               'SFO','TB':'TAM','Multi':None,'LV':'OAK',},'Snaps':{'bye':None}},inplace=True)
    data[key].dropna(thresh=3,inplace=True)
print(data)
#player_snaps = pd.concat(data.values(), ignore_index=True)
#print(player_snaps)

{'2017_Offense':                 Player Pos  Team  Year Week Snaps
0            Tom Brady  QB   NWE  2018    1    81
1        Blake Bortles  QB   JAX  2018    1    64
2     Larry Fitzgerald  WR   ARI  2018    1    74
3       Russell Wilson  QB   SEA  2018    1    49
4        Brandin Cooks  WR   NWE  2018    1    67
...                ...  ..   ...   ...  ...   ...
9394   Darren McFadden  RB   DAL  2018   17     0
9395       Matt Lengel  TE   CLE  2018   17     0
9396     Rashawn Scott  WR   MIA  2018   17     0
9397   Dare Ogunbowale  RB  None  2018   17     1
9398       Taysom Hill  QB   NOR  2018   17     0

[9367 rows x 6 columns], '2017_Defense':                     Player Pos  Team  Year Week Snaps
0            Demario Davis  LB   NYJ  2018    1    77
1              Jamal Adams   S   NYJ  2018    1    75
2            Preston Brown  LB   BUF  2018    1    58
3        Tre'Davious White  CB   BUF  2018    1    58
4      D.J. Swearinger Sr.   S   WAS  2018    1    67
...                    ...  ..   ...   ...  ...   ...
15871          Colin Holba  LB   JAX  2018   17     0
15872        Reggie Porter  CB  None  2018   17     0
15873      Thomas Hennessy  LB   NYJ  2018   17     0
15874      Donatello Brown  CB   GNB  2018   17     0
15875       Jermaine Grace  LB  None  2018   17     0

[15844 rows x 6 columns], '2018_Offense':                    Player Pos  Team  Year Week Snaps
0             Andrew Luck  QB   IND  2018    1    82
1               Tom Brady  QB   NWE  2018    1    75
2          Deshaun Watson  QB   HOU  2018    1    74
3      Ben Roethlisberger  QB   PIT  2018    1    84
4         DeAndre Hopkins  WR   HOU  2018    1    73
...                   ...  ..   ...   ...  ...   ...
9802         Trey Edmunds  RB   PIT  2018   17     0
9803         Allen Lazard  WR  None  2018   17     1
9804          Deon Yelder  TE  None  2018   17     0
9805        Steven Dunbar  WR   SFO  2018   17     1
9806  Steven Mitchell Jr.  WR  None  2018   17     1

[9775 rows x 6 columns], '2018_Defense':                  Player Pos  Team  Year Week Snaps
0         Steven Nelson  CB   KAN  2018    1    82
1           Jamal Adams   S   NYJ  2018    1    70
2      Avery Williamson  LB   NYJ  2018    1    64
3      Jessie Bates III   S   CIN  2018    1    82
4        Antoine Bethea   S   ARI  2018    1    77
...                 ...  ..   ...   ...  ...   ...
15871       Dee Delaney  CB  None  2018   17     0
15872   Chris Covington  LB   DAL  2018   17     0
15873        A.J. Moore  CB   HOU  2018   17     0
15874    Dennis Gardeck  LB   ARI  2018   17     0
15875    Dallin Leavitt   S   OAK  2018   17     1

[15844 rows x 6 columns], '2019_Offense':                   Player Pos  Team  Year Week Snaps
0           Carson Wentz  QB   PHI  2018    1    74
1              Tom Brady  QB   NWE  2018    1    70
2         Jameis Winston  QB   TAM  2018    1    69
3           Dak Prescott  QB   DAL  2018    1    65
4         Russell Wilson  QB   SEA  2018    1    51
...                  ...  ..   ...   ...  ...   ...
10142     Trenton Cannon  RB   NYJ  2018   17     0
10143     Trace McSorley  QB   BAL  2018   17     1
10144  Gary Jennings Jr.  WR  None  2018   17     0
10145    Spencer Schnell  WR   TAM  2018   17     0
10146      Austin Walter  RB   NYG  2018   17     0

[10115 rows x 6 columns], '2019_Defense':                 Player Pos  Team  Year Week Snaps
0         Jordan Hicks  LB   ARI  2018    1    84
1        Lavonte David  LB   TAM  2018    1    63
2          Budda Baker   S   ARI  2018    1    84
3       Antoine Bethea   S   NYG  2018    1    68
4         Byron Murphy  CB   ARI  2018    1    84
...                ...  ..   ...   ...  ...   ...
16313   Hunter Bradley  LB   GNB  2018   17     0
16314    Devante Downs  LB  None  2018   17     0
16315       Jack Cichy  LB   TAM  2018   17     0
16316   Robert Jackson  DB   CLE  2018   17     0
16317  Robert Spillane  LB   PIT  2018   17     0

[16286 rows x 6 columns]}

In [ ]:
def player_snap_clean(Start_Year,End_Year):
    dfname = []
    for num in range(Start_Year,End_Year+1):
        dfname.append(f'{num}_Offense')
        dfname.append(f'{num}_Defense')
        data = {name: pd.read_csv(f'FantasyPros_Fantasy_Football_{name}_Snap_Counts.csv') for name in dfname}
    for key in data:
        data[key].drop(['TTL','AVG'],axis=1,inplace=True)
        data[key] = pd.melt(data[key],id_vars=['Player','Pos','Team'],\
                  value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
        data[key].rename(columns={'variable':'Week','value':'Snaps'},inplace=True)
        data[key].insert(loc=3,column='Year',value=Start_Year,allow_duplicates=True)
        data[key].replace({'Team':\
                  {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':\
                   'SFO','TB':'TAM','Multi':None,'LV':'OAK',},'Snaps':{'bye':None}},inplace=True)
        data[key].dropna(thresh=3,inplace=True)
    player_snaps = pd.concat(data.values(), ignore_index=True)

In [ ]:
# O_snaps_2017 = O_snaps_2017.drop(['TTL','AVG'],axis=1)
# D_snaps_2017 = D_snaps_2017.drop(['TTL','AVG'],axis=1)
# O_snaps_2018 = O_snaps_2018.drop(['TTL','AVG'],axis=1)
# D_snaps_2018 = D_snaps_2018.drop(['TTL','AVG'],axis=1)
# O_snaps_2019 = O_snaps_2019.drop(['TTL','AVG'],axis=1)
# D_snaps_2019 = D_snaps_2019.drop(['TTL','AVG'],axis=1)

In [ ]:
# O_snaps_2017 = pd.melt(O_snaps_2017, id_vars=['Player','Pos','Team'],\
#                        value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
# D_snaps_2017 = pd.melt(D_snaps_2017, id_vars=['Player','Pos','Team'],\
#                        value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
# O_snaps_2018 = pd.melt(O_snaps_2018, id_vars=['Player','Pos','Team'],\
#                        value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
# D_snaps_2018 = pd.melt(D_snaps_2018, id_vars=['Player','Pos','Team'],\
#                        value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
# O_snaps_2019 = pd.melt(O_snaps_2019, id_vars=['Player','Pos','Team'],\
#                        value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])
# D_snaps_2019 = pd.melt(D_snaps_2019, id_vars=['Player','Pos','Team'],\
#                        value_vars=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17'])

In [ ]:
# O_snaps_2017 = O_snaps_2017.rename(columns={'variable':'Week','value':'Snaps'})
# D_snaps_2017 = D_snaps_2017.rename(columns={'variable':'Week','value':'Snaps'})
# O_snaps_2018 = O_snaps_2018.rename(columns={'variable':'Week','value':'Snaps'})
# D_snaps_2018 = D_snaps_2018.rename(columns={'variable':'Week','value':'Snaps'})
# O_snaps_2019 = O_snaps_2019.rename(columns={'variable':'Week','value':'Snaps'})
# D_snaps_2019 = D_snaps_2019.rename(columns={'variable':'Week','value':'Snaps'})

In [ ]:
# O_snaps_2017.insert(loc=3,column='Year',value='2017',allow_duplicates=True)
# D_snaps_2017.insert(loc=3,column='Year',value='2017',allow_duplicates=True)
# O_snaps_2018.insert(loc=3,column='Year',value='2018',allow_duplicates=True)
# D_snaps_2018.insert(loc=3,column='Year',value='2018',allow_duplicates=True)
# O_snaps_2019.insert(loc=3,column='Year',value='2019',allow_duplicates=True)
# D_snaps_2019.insert(loc=3,column='Year',value='2019',allow_duplicates=True)

In [ ]:
# O_snaps_2017 = O_snaps_2017.replace({'Team':\
#                 {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':'SFO','TB':'TAM','Multi':None,'LV':'OAK',},\
#                                      'Snaps':{'bye':None}})
# D_snaps_2017 = D_snaps_2017.replace({'Team':\
#                 {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':'SFO','TB':'TAM','Multi':None,'LV':'OAK',},\
#                                     'Snaps':{'bye':None}})
# O_snaps_2018 = O_snaps_2018.replace({'Team':\
#                 {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':'SFO','TB':'TAM','Multi':None,'LV':'OAK',},\
#                                     'Snaps':{'bye':None}})
# D_snaps_2018 = D_snaps_2018.replace({'Team':\
#                 {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':'SFO','TB':'TAM','Multi':None,'LV':'OAK',},\
#                                     'Snaps':{'bye':None}})
# O_snaps_2019 = O_snaps_2019.replace({'Team':\
#                 {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':'SFO','TB':'TAM','Multi':None,'LV':'OAK',},\
#                                     'Snaps':{'bye':None}})
# D_snaps_2019 = D_snaps_2019.replace({'Team':\
#                 {'GB':'GNB','JAC':'JAX','KC':'KAN','NE':'NWE','NO':'NOR','SF':'SFO','TB':'TAM','Multi':None,'LV':'OAK',},\
#                                     'Snaps':{'bye':None}})

In [ ]:
player_snaps = pd.concat([O_snaps_2017,D_snaps_2017,O_snaps_2018,D_snaps_2018,O_snaps_2019,D_snaps_2019])

In [ ]:
player_snaps = player_snaps.dropna(thresh=3)

In [ ]:
player_snaps.to_csv('player_snaps.csv',index=False)

In [ ]:
teamsnaps = teamsnaps.drop(['Local_Time','Tot_Yds/Play'])

In [ ]:
teamsnaps['Tot_Game_Time'] = pd.to_timedelta(teamsnaps['Tot_Game_Time']+':00')
teamsnaps['Date'] = pd.to_datetime(teamsnaps['Date'])
teamsnaps = df_teamsnaps.rename(columns={'Away':'Away_Home'})
teamsnaps['Away_Home'] = teamsnaps['Away_Home'].fillna(value='Home')
teamsnaps['Away_Home'] = teamsnaps['Away_Home'].replace('@','Away')
teamsnaps['Away_Home'] = teamsnaps['Away_Home'].replace('nan','Home')

In [ ]:
df_bridge = teamsnaps['Tot_ToP'].str.split(":",expand=True,)
teamsnaps['Month'] = teamsnaps['Date'].dt.month
teamsnaps['Year'] = teamsnaps['Date'].dt.year

In [ ]:
teamsnaps['Min_Tot_ToP'] = df_bridge[0].astype(int)
teamsnaps['Sec_Tot_ToP'] = df_bridge[1].astype(int)

In [ ]:
teamsnaps['Tot_ToP'] = (teamsnaps['Min_Tot_ToP']*60)+teamsnaps['Sec_Tot_ToP']