In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

#list of the NFL teams for url purposes
teams = ['crd', 'atl', 'rav', 'buf', 'car', 'chi', 'cin', 'cle', 'dal', 'den', 'det', 'gnb','htx','clt','jax','kan',
         'sdg','ram','mia','min','nor','nwe','nyg','nyj','rai','phi','pit','sea','sfo','tam','oti','was']

#list of years to pull data for url purposes
years= ['2017','2018', '2019']

#starting points to iterate through
team = 0
year = 0

In [97]:
# while team < 31:
#url for web scraping
url = f'https://www.pro-football-reference.com/teams/{teams[team]}/{years[year]}_injuries.htm'
    
#opening website
r = requests.get(url)
soup = BeautifulSoup(r.content, 'lxml')
    
#finding table
table = soup.find('table', attrs={'class': 'sortable', 'id': 'team_injuries'})

#finding headers and rows
table_rows = table.find_all('tr')
final_data = []
for tr in table_rows:
    td = tr.find_all(['th','td'])
    row = [tr.text for tr in td]
    final_data.append(row)
df = pd.DataFrame(final_data[1:], columns=final_data[0])
# df.to_csv('nflinjuryreport.csv',mode='a',header=False)

# advancing through url
# if year < 2:
#     year += 1
# else:
#     year = 0
#     team += 1

'''
week = []
injury = []
for ob in table.find_all('td'):
    week.append(ob.get("data-stat"))
    injury.append(ob.get('data-tip'))
'''

# update of location of web scrape
# print(teams[team])
# print(years[year])

'\nweek = []\ninjury = []\nfor ob in table.find_all(\'td\'):\n    week.append(ob.get("data-stat"))\n    injury.append(ob.get(\'data-tip\'))\n'

In [98]:
df.head(5)

,Player,09/10vs. DET,09/17vs. IND,09/25vs. DAL,10/01vs. SFO,10/08vs. PHI,10/15vs. TAM,10/22vs. LAR,11/05vs. SFO,11/09vs. SEA,11/19vs. HOU,11/26vs. JAX,12/03vs. LAR,12/10vs. TEN,12/17vs. WAS,12/24vs. NYG,12/31vs. SEA
0,Antoine Bethea,,,,,,,,,,,,,,,Q,IR
1,Alex Boone,,,,O,Q,,,,,,,,,,,
2,Tyvon Branch,,,,,,,,,,IR,IR,IR,IR,IR,IR,IR
3,Aaron Brewer,,,,,,IR,IR,IR,IR,IR,IR,IR,IR,,,
4,John Brown,,O,O,Q,Q,,,,,Q,O,O,O,O,Q,